---
interface Props {
	name: string;
	url: string;
}

const { name, url } = Astro.props;
const id = url.split("/").at(-2);

const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<div
	class="rounded-lg border flex flex-col justify-center items-center bg-slate-700 p-2"
>
	<img src={imageUrl} alt={name} />
	<span class="text-lg font-semibold text-slate-100 capitalize">
		{name}
	</span>
</div>
