---
// Server side code - moment of construction BUILD TIME
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

import type { PokemonListResponse } from "../interfaces/pokemon-list-response";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

const title = "Pokemon Static | Home";
---

<MainLayout title={title}>
	<h1 class="text-3xl">Pokemon List</h1>
	<hr />

	<section
		aria-label="Pokemon List"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-5"
	>
		{
			data.results.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>
</MainLayout>
