---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";

import { Counter } from "@components/Counter";
---

<MainLayout title="Favorites">
	<Title>Islands</Title>

	<div
		style={{
			height: "2000px",
			background: "red",
			opacity: "0.5",
		}}
	>
	</div>

	<!-- <Counter client:load /> -->
	<!-- <Counter client:only="solid-js" /> -->
	<Counter client:visible />
</MainLayout>
